body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:10px 19px 10px 20px ;
    margin-bottom: 20px;
    display: flex; 
}

.button {
    background-color: #FF7400;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex; 
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 42px;
    margin-bottom: 43px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex; 
}

article {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 60px 45px 135px 45px;
}

.article-but1 {
    text-decoration: none;
    background-color: #A1652D;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but2 {
    text-decoration: none;
    background-color: #33AA00;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but3 {
    text-decoration: none;
    background-color: #AC1313;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

.article-but4 {
    text-decoration: none;
    background-color: #AC13A6;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: #4671D5;
    padding: 70px 147px 12px 15px;
}

footer a {
    margin-right: 40px;
}

footer p {
    font-size: 24px;
    color: black;
}